<link rel="stylesheet" href="<%= assetPath('css/post.css')%>">
<li id="post-<%= post._id%>" class="post-list-elem">
    <div id="post-info">
        
        <div id="top">
            <div class="user-info">
                <img id="user-image" src="<%= post.user.avatar %>" alt="" width="50">
                <%= post.user.name%>
            </div>
            <% if(locals.user && locals.user.id == post.user.id){ %>
                <small>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </small>
            <% } %>
        </div>
         
        <div class="post-content">
            <span>
                <%= post.content%>
            </span>
        </div>

        <!-- displa the likes of this post -->
        
        <!-- use of the data attribute -->
        <div class="likes">
            <% if (locals.user) {%>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> <i class="fa-solid fa-heart"></i> Likes
                </a>
            <% }else{ %>
                <%= post.likes.length %> <i class="fa-solid fa-heart"></i> Likes
            <% } %>
        </div>

    </div>
    <div class="post-comments">
        <% if(locals.user){ %>
             <form action="/comments/create" class="new-comment-forms" method="POST">
                <input type="text" name="content" placeholder="Add Comment here" required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Comment">
             </form>
        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id%>">
                <% for(comment of post.comments){ %>
                    <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>
    </div>
</li> 