    <link rel="stylesheet" href="<%= assetPath('css/home.css') %>">

    <div id="home-container">
        <section id = "feed-posts">
            <% if(locals.user){ %>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea id="post-textarea" name="content" cols="30" placeholder="Type Here..." rows="1"></textarea>
                    <input id="submit-button" type="submit" value="Post">
                </form>
            <%  }   %>

            <h4 class="heading">Posts </h4>

            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){%>
    
                        <%- include('_post') -%>
    
                    <%}%>
                </ul>
            </div>
        </section>
    
        <section id="all-users">
            <% if(locals.user){ %>
                <div id="user-friends">
                    <h4 class="heading">Friends</h4>
                    <% for(f of all_friends){ %>
                            <a class="friend-link" href="/users/profile/<%= f._id %>"> 
                                <img id="friend-img" src="<%= f.avatar %>" alt="" width="50">
                                <span id="friend-name">
                                    <%= f.name %>
                                </span> 
                            </a>
                    <% } %>
    
                </div>
            <% } %>    
    
            <div id="re-users">
                <h4 class="heading">Users</h4>
                <% for(u of all_users){ %>
                    <a class="user-link" href="/users/profile/<%= u.id %>">
                        <img id="user-img" src="<%= u.avatar%>" alt="" width="50">
                        <span id="user-name"> <%= u.name %> </span> 
                    </a> 
                <% } %>
            </div>
        </section>
        
        <%- include('_chatbox') -%>

    </div>
    
    <script src="<%= assetPath('js/post_comments.js') %>"></script>
    <script src="<%= assetPath('js/home_posts.js') %>"></script>

    <script src="<%= assetPath('js/toggle_likes.js') %>"></script>
    <script>

        $(function() {
            $('#post-textarea').on('input keyup paste', function() {
                var $el = $(this),
                    offset = $el.innerHeight() - $el.height();

                if ($el.innerHeight() < this.scrollHeight) {
                // Grow the field if scroll height is smaller
                $el.height(this.scrollHeight - offset);
                } else {
                // Shrink the field and then re-set it to the scroll height in case it needs to shrink
                $el.height(1);
                $el.height(this.scrollHeight - offset);
                }
            });
        });

       

        $('.toggle-like-button').each(function(){
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email%>')
    </script>
<%}%>

    
   
    